@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.fuckyou-one {
    display: flex;
}

.fuckyou-two {
    display: flex;
}

/* КАРТОЧКИ */
.card-fill {
    background-color: #8A2BE2;
    width: 315px;
    height: 200px;
    padding: 0;
    margin: 10px;
    color: white;
    border-radius: 10px;
    padding-left: 15px;
}

.card-tinkoff {
    background-color: black;
    width: 315px;
    height: 200px;
    padding: 0;
    margin: 10px;
    color: white;
    border-radius: 10px;
    padding-left: 15px;
}

.card-sber {
    background-color: green;
    width: 315px;
    height: 200px;
    padding: 0;
    margin: 10px;
    color: white;
    border-radius: 10px;
    padding-left: 15px;
}

.card-vtb {
    background-color: blue;
    width: 315px;
    height: 200px;
    padding: 0;
    margin: 10px;
    color: white;
    border-radius: 10px;
    padding-left: 15px;
}

.image {
    padding-top: 35px;
    margin-left: -5px;
}

img {
    width: 50px;
}

.room {
    display: flex;
}

.room p {
    /* Шрифта Courier New в google fonts нет */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 25px;
    text-align: left;
    padding-bottom: 0;
    margin: 0;
    margin-top: -4px;
    margin-right: 15px;
}

.name {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 0;
    margin: 0;
    font-family: monospace;
}

.date p:nth-child(1) {
    font-size: 9px;
    padding: 0;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}

.date p:nth-child(2) {
    padding: 0;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}

.bottom {
    display: flex;
    
}

.visa {
    margin-left: 160px;
    width: 90px;
}

.ms {
    position: relative;
    margin-left: 180px;
    bottom: 12px;
    width: 70px;
}